In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

In [5]:
df = pd.read_csv('JanJune15.csv')
tz = pd.read_csv('taxi-zones.csv')

In [6]:
tz['address'] = tz['Zone'] + ',' + tz['Borough']

In [55]:
tz.head()

,LocationID,Borough,Zone,address,lat,lon
0,1,EWR,Newark Airport,"Newark Airport,EWR, New York",40.689064,-74.177255
1,2,Queens,Jamaica Bay,"Jamaica Bay,Queens, New York",40.603994,-73.835412
2,3,Bronx,Allerton/Pelham Gardens,"Allerton/Pelham Gardens,Bronx, New York",NaN,NaN
3,4,Manhattan,Alphabet City,"Alphabet City,Manhattan, New York",40.706964,-73.990459
4,5,Staten Island,Arden Heights,"Arden Heights,Staten Island, New York",40.563700,-74.191603

In [51]:
geolocator = Nominatim(user_agent="myGeoLocator")  # Replace "myGeoLocator" with a meaningful identifier for your application

In [ ]:
lat = []
lon = []
for address in tz['address']:
    location = geolocator.geocode(address)
    if location:
        lat.append(location.latitude)
        lon.append(location.longitude)
    else:
        lat.append(None)
        lon.append(None)

In [ ]:
tz['lat'] = lat
tz['lon'] = lon

In [68]:
tz.to_csv('PickUps.csv')

In [62]:
null_addresses = tz[tz['lat'].isnull() | tz['lon'].isnull()]['address']
print(null_addresses)

2                Allerton/Pelham Gardens,Bronx, New York
14              Bay Terrace/Fort Totten,Queens, New York
20                   Bensonhurst East,Brooklyn, New York
21                   Bensonhurst West,Brooklyn, New York
22       Bloomfield/Emerson Hill,Staten Island, New York
26     Breezy Point/Fort Tilden/Riis Beach,Queens, Ne...
27              Briarwood/Jamaica Hills,Queens, New York
35                     Bushwick North,Brooklyn, New York
40                    Central Harlem,Manhattan, New York
41              Central Harlem North,Manhattan, New York
43        Charleston/Tottenville,Staten Island, New York
46                    Claremont/Bathgate,Bronx, New York
60                Crown Heights North,Brooklyn, New York
61                Crown Heights South,Brooklyn, New York
64        Downtown Brooklyn/MetroTech,Brooklyn, New York
65                 DUMBO/Vinegar Hill,Brooklyn, New York
70             East Flatbush/Farragut,Brooklyn, New York
71       East Flatbush/Remsen Village,Brooklyn, New York
73                 East Harlem North,Manhattan, New York
74                 East Harlem South,Manhattan, New York
83     Eltingville/Annadale/Prince's Bay,Staten Islan...
86          Financial District North,Manhattan, New York
93                         Fordham South,Bronx, New York
95            Forest Park/Highland Park,Queens, New York
102    Governor's Island/Ellis Island/Liberty Island,...
103    Governor's Island/Ellis Island/Liberty Island,...
104    Governor's Island/Ellis Island/Liberty Island,...
116                     Hammels/Arverne,Queens, New York
117    Heartland Village/Todt Hill,Staten Island, New...
143              Little Italy/NoLiTa,Manhattan, New York
145       Long Island City/Queens Plaza,Queens, New York
153    Marine Park/Floyd Bennett Field,Brooklyn, New ...
158                        Melrose South,Bronx, New York
172                        North Corona,Queens, New York
177               Ocean Parkway South,Brooklyn, New York
178                         Old Astoria,Queens, New York
185     Penn Station/Madison Sq West,Manhattan, New York
199    Riverdale/North Riverdale/Fieldston,Bronx, New...
206    Saint Michaels Cemetery/Woodside,Queens, New York
211                   Soundview/Bruckner,Bronx, New York
217           Springfield Gardens North,Queens, New York
218           Springfield Gardens South,Queens, New York
223    Stuy Town/Peter Cooper Village,Manhattan, New ...
226                  Sunset Park East,Brooklyn, New York
227                  Sunset Park West,Brooklyn, New York
228    Sutton Place/Turtle Bay North,Manhattan, New York
231          Two Bridges/Seward Park,Manhattan, New York
232              UN/Turtle Bay South,Manhattan, New York
235            Upper East Side North,Manhattan, New York
236            Upper East Side South,Manhattan, New York
237            Upper West Side North,Manhattan, New York
238            Upper West Side South,Manhattan, New York
240                Van Cortlandt Village,Bronx, New York
242         Washington Heights North,Manhattan, New York
243         Washington Heights South,Manhattan, New York
249        Westchester Village/Unionport,Bronx, New York
253             Williamsbridge/Olinville,Bronx, New York
254         Williamsburg (North Side),Brooklyn, New York
255         Williamsburg (South Side),Brooklyn, New York
Name: address, dtype: object

In [ ]:
null_rows = tz[tz['lat'].isnull() | tz['lon'].isnull()]
index_address_dict = null_rows['address'].to_dict()
print(index_address_dict)
with open('missing.txt','w') as f:
    for key,value in index_address_dict.items():
        f.write(f'{key} : {value}\n')

{2: 'Allerton/Pelham Gardens,Bronx, New York', 14: 'Bay Terrace/Fort Totten,Queens, New York', 20: 'Bensonhurst East,Brooklyn, New York', 21: 'Bensonhurst West,Brooklyn, New York', 22: 'Bloomfield/Emerson Hill,Staten Island, New York', 26: 'Breezy Point/Fort Tilden/Riis Beach,Queens, New York', 27: 'Briarwood/Jamaica Hills,Queens, New York', 35: 'Bushwick North,Brooklyn, New York', 40: 'Central Harlem,Manhattan, New York', 41: 'Central Harlem North,Manhattan, New York', 43: 'Charleston/Tottenville,Staten Island, New York', 46: 'Claremont/Bathgate,Bronx, New York', 60: 'Crown Heights North,Brooklyn, New York', 61: 'Crown Heights South,Brooklyn, New York', 64: 'Downtown Brooklyn/MetroTech,Brooklyn, New York', 65: 'DUMBO/Vinegar Hill,Brooklyn, New York', 70: 'East Flatbush/Farragut,Brooklyn, New York', 71: 'East Flatbush/Remsen Village,Brooklyn, New York', 73: 'East Harlem North,Manhattan, New York', 74: 'East Harlem South,Manhattan, New York', 83: "Eltingville/Annadale/Prince's Bay,Staten Island, New York", 86: 'Financial District North,Manhattan, New York', 93: 'Fordham South,Bronx, New York', 95: 'Forest Park/Highland Park,Queens, New York', 102: "Governor's Island/Ellis Island/Liberty Island,Manhattan, New York", 103: "Governor's Island/Ellis Island/Liberty Island,Manhattan, New York", 104: "Governor's Island/Ellis Island/Liberty Island,Manhattan, New York", 116: 'Hammels/Arverne,Queens, New York', 117: 'Heartland Village/Todt Hill,Staten Island, New York', 143: 'Little Italy/NoLiTa,Manhattan, New York', 145: 'Long Island City/Queens Plaza,Queens, New York', 153: 'Marine Park/Floyd Bennett Field,Brooklyn, New York', 158: 'Melrose South,Bronx, New York', 172: 'North Corona,Queens, New York', 177: 'Ocean Parkway South,Brooklyn, New York', 178: 'Old Astoria,Queens, New York', 185: 'Penn Station/Madison Sq West,Manhattan, New York', 199: 'Riverdale/North Riverdale/Fieldston,Bronx, New York', 206: 'Saint Michaels Cemetery/Woodside,Queens, New York', 211: 'Soundview/Bruckner,Bronx, New York', 217: 'Springfield Gardens North,Queens, New York', 218: 'Springfield Gardens South,Queens, New York', 223: 'Stuy Town/Peter Cooper Village,Manhattan, New York', 226: 'Sunset Park East,Brooklyn, New York', 227: 'Sunset Park West,Brooklyn, New York', 228: 'Sutton Place/Turtle Bay North,Manhattan, New York', 231: 'Two Bridges/Seward Park,Manhattan, New York', 232: 'UN/Turtle Bay South,Manhattan, New York', 235: 'Upper East Side North,Manhattan, New York', 236: 'Upper East Side South,Manhattan, New York', 237: 'Upper West Side North,Manhattan, New York', 238: 'Upper West Side South,Manhattan, New York', 240: 'Van Cortlandt Village,Bronx, New York', 242: 'Washington Heights North,Manhattan, New York', 243: 'Washington Heights South,Manhattan, New York', 249: 'Westchester Village/Unionport,Bronx, New York', 253: 'Williamsbridge/Olinville,Bronx, New York', 254: 'Williamsburg (North Side),Brooklyn, New York', 255: 'Williamsburg (South Side),Brooklyn, New York'}

In [61]:
tz.head()

,LocationID,Borough,Zone,address,lat,lon
0,1,EWR,Newark Airport,"Newark Airport,EWR, New York",40.689064,-74.177255
1,2,Queens,Jamaica Bay,"Jamaica Bay,Queens, New York",40.603994,-73.835412
2,3,Bronx,Allerton/Pelham Gardens,"Allerton/Pelham Gardens,Bronx, New York",NaN,NaN
3,4,Manhattan,Alphabet City,"Alphabet City,Manhattan, New York",40.706964,-73.990459
4,5,Staten Island,Arden Heights,"Arden Heights,Staten Island, New York",40.563700,-74.191603